<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
<div th:replace="fragments :: header"></div>

<h3>Pomyślnie dodano przepis!</h3>

<a class="list-group-item list-group-item-action" href="/addIngredient">Dodaj składniki</a><br/>

</body>
</html>