<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="navbar :: head">
    <meta charset="UTF-8">
    <title>All categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: header"></div>

<div class="jumbotron home-jumbo">
    <div class="container text-center">
        <h1 class="display-4">Wszystkie kategorie</h1>
    </div>
</div>
<div class="list-group">
    <li th:each="category: ${categories}">
        <a class="list-group-item list-group-item-action" th:href="'/category/' + ${category.id}" th:text="|${category.name} (${category.recipes.size()})|"></a>
    </li>
</div>
</body>
</html>