<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="jumbotron home-jumbo">
    <div class="container text-center">
        <h1 class="display-4">Książka kucharska</h1>
        <p class="lead">Witaj w swojej książce kucharskiej</p><br/>
        <p class="lead">Poniżej znajdziesz najlepsze przepisy</p>
    </div>
</div>
<div class="list-group">
        <li th:each="recipe: ${theBest}">
            <a class="list-group-item list-group-item-action" th:href="'/recipe/' + ${recipe.id}" th:text="|${recipe.name} (${recipe.category.name})|"></a>
        </li>
</div>
</body>
</html>