<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="navbar :: head">
    <meta charset="UTF-8">
    <title>Recipe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar :: header"></div>
<div class="jumbotron home-jumbo">
    <div class="container text-center">
        <h1 class="display-4" th:text="${recipe.name}"></h1>
        <h4 class="lead" th:text="|Kategoria: ${recipe.category.name}|"></h4>
        <h5 class="lead" th:text="|Czas przygotowania: ${recipe.preparationTime} minut|"></h5>
        <h5 class="lead" th:text="|Ilość porcji: ${recipe.portions}|"></h5>
        <h5 class="lead" th:text="|Poziom trudności: ${recipe.difficultyLevel}|"></h5>
        <h5 class="lead" th:text="|Ilość polubień: ${recipe.likesCounter}|"></h5><br/>
    </div>
</div>
<div class="lead-3">
    <ul>
        <h3>Składniki:</h3>
        <li style="margin-left: 20px" th:each="ingredient: ${recipe.ingredients}">
            <a th:text="|${ingredient.name} - ${ingredient.value} ${ingredient.unit}|"></a>
        </li><br/>
        <h3 class="lead-3">Opis przygotowania</h3>
        <a th:utext="${recipe.description}"></a>
    </ul>
</div>
<div class="lead" style="margin-left: 40px">
    <a th:href="@{|/likeIt?id=${recipe.id}|}">Lubię to!</a><br/>
    <a th:href="@{|/dislikeIt?id=${recipe.id}|}">Nie lubię tego!</a><br/><br/>
    <a th:href="@{|/edit?id=${recipe.id}|}">Edytuj przepis</a><br/>
    <a th:href="@{/addIngredient}">Dodaj składnik</a><br/>
    <a th:href="@{|/editIngredient?id=${recipe.id}|}">Edytuj składniki</a><br/>
    <a th:href="|/recipe/${recipe.id}/delete|" >Usuń przepis</a>
</div>
</body>
</html>